In [13]:
import pandas as pd

# Read the CSV file into a DataFrame
movie_df = pd.read_csv('movie/movie.csv', delimiter=";")

# Display the DataFrame
print(movie_df)

      id  tmdb_id                  title
0      1      389           12 Angry Men
1      2       62  2001: A Space Odyssey
2      3    20453               3 Idiots
3      4      453       A Beautiful Mind
4      5      185     A Clockwork Orange
..   ...      ...                    ...
195  196     8392       Tonari no Totoro
196  197     1480          Touch of Evil
197  198      862              Toy Story
198  199      627          Trainspotting
199  200      110  Trois couleurs: Rouge

[200 rows x 3 columns]

In [9]:
class MovieFromCsv:
    def __init__(self, id, tmdb_id, title):
        self.id = id # to id jest odpowiednikiem movie_id w train.csv
        self.tmdb_id = tmdb_id # to jest id filmu w detailsach
        self.title = title # prawdopodbnie nie będzie potrzebny bo tytuł mam też z detailsów

In [63]:
import json

# Open the file and load the JSON data
with open('movies/map.json', 'r', encoding='utf-8') as file:
    details = json.load(file)

# Now 'data' contains the content of your JSON file
print(type(details))

<class 'dict'>

In [ ]:
details["12"] # pierwsza
details["103663"] # ostatnia

In [19]:
# Read the CSV file into a DataFrame
task_df = pd.read_csv('movie/task.csv', delimiter=";")

# Display the DataFrame
print(task_df)

          id  person_id  movie_id  rate
0      32221       1642        68   NaN
1      32222       1642        69   NaN
2      32223       1642       142   NaN
3      32224       1642        77   NaN
4      32225       1642       128   NaN
...      ...        ...       ...   ...
10735  42956       1455        51   NaN
10736  42957       1455       117   NaN
10737  42958       1455       191   NaN
10738  42959       1455       125   NaN
10739  42960       1455       182   NaN

[10740 rows x 4 columns]

In [20]:
task_df["person_id"].unique()

array([1642, 1102,  549, 1641,  546, 1096,    5,  559,   12, 1659,  566,
         19,  564, 1662, 1112,  575,   24,  572, 1648,  569,   31, 1135,
       1611,  512, 1613, 1131, 1614, 1600,  526, 1604, 1122,  523,  532,
        535, 1628, 1631, 1145,   52, 1144,  530,  543, 1618,  542, 1140,
        537,   63,   62,   68, 1032,   69, 1033, 1583,   70,  608, 1035,
         71, 1581, 1039,   78, 1026, 1573, 1027, 1028, 1568, 1031, 1597,
        624, 1596,   80,   93, 1040,   92, 1589, 1043, 1588,  639, 1586,
         90, 1046, 1066,  578, 1056,  109,  587, 1543,  106,  588,  589,
        105, 1565,  118, 1087,  597, 1086, 1560, 1562, 1073,  125, 1077,
        606,  139, 1222, 1767,  140, 1219, 1218, 1769, 1231,  131,  674,
        673,  702, 1779, 1237,  154, 1238,  701,  156, 1232, 1234, 1235,
       1781, 1244,  692, 1785,  148,  149,  151, 1255, 1728,  169,  175,
        649, 1732, 1250, 1263,  647, 1738, 1258, 1257,  165, 1750,  188,
        666,  189,  176, 1276,  656,  183, 1758,  180, 1759,  181,  746,
        745,  207, 1154,  751, 1159, 1158,  748,  739,  196, 1709, 1163,
       1708, 1162, 1165, 1718, 1716, 1714, 1712, 1724, 1722, 1180,  210,
        239,  712, 1186, 1184,  235, 1665,  717, 1191, 1664, 1667,  233,
       1677,  705, 1676,  706,  708, 1196,  254, 1686,  733, 1207,  251,
        734,  721, 1214, 1689,  240, 1213, 1691,  275,  820, 1373, 1372,
        279,  817,  829,  280, 1362,  286,  824,  258, 1359, 1354, 1353,
       1351,  265,  304,  307, 1406,  309, 1400,  315, 1398,  314,  794,
       1395,  318,  774, 1389,  292,  769, 1387,  296, 1382,  298,  300,
       1376,  779,  301, 1307,  343, 1306,  341,  337,  351,  891, 1303,
        345, 1300,  327, 1294, 1282,  334, 1283,  333,  331,  877, 1338,
       1340,  371, 1816,  370, 1815,  381, 1328, 1813, 1330, 1804, 1322,
        353,  355,  365, 1314, 1796,  841,  846,  845, 1494,  408,  414,
       1488,  955, 1500,  407, 1496, 1497,  395, 1478,  393,  392,  937,
        398, 1473,  386, 1486,  391,  388,  440,  442,  443,  922,  446,
        447,  919, 1533, 1528,  913,  911, 1509, 1511,  428,  431,  904,
        903,  416, 1519, 1518,  900,  899,  421, 1514,  478, 1018, 1019,
       1009, 1432, 1012, 1002,  459, 1413,  455, 1416, 1423, 1457,  510,
        990,  504,  991, 1462,  497, 1470,  493,  492,  974, 1444,  963,
       1449, 1450,  960,  967,  481, 1455], dtype=int64)

In [14]:
# Read the CSV file into a DataFrame
train_df = pd.read_csv('movie/train.csv', delimiter=";")

# Display the DataFrame
print(train_df)

          id  person_id  movie_id  rate
0          1       1642       137     4
1          2       1642         1     5
2          3       1642       136     5
3          4       1642         2     3
4          5       1642       139     5
...      ...        ...       ...   ...
32215  32216       1455       126     3
32216  32217       1455       124     3
32217  32218       1455       123     1
32218  32219       1455       122     4
32219  32220       1455       120     2

[32220 rows x 4 columns]

In [11]:
class TrainFromCsv:
    def __init__(self, id, person_id, movie_id, rate):
        self.id = id 
        self.person_id = person_id # to jest id osoby, które jest później w task.csv
        self.movie_id = movie_id # prawdopodbnie nie będzie potrzebny bo tytuł mam też z detailsów
        self.rate = rate # ocena w skali 1-5, której mamy dokonać w task.csv

Train.csv należy teraz podzielić na podzbiory ze względu na person_id, ponieważ dla każdej osoby, będzie inny zbiór uczący.

In [17]:
train_df["person_id"].unique()

array([1642, 1102,  549, 1641,  546, 1096,    5,  559,   12, 1659,  566,
         19,  564, 1662, 1112,  575,   24,  572, 1648,  569,   31, 1135,
       1611,  512, 1613, 1131, 1614, 1600,  526, 1604, 1122,  523,  532,
        535, 1628, 1631, 1145,   52, 1144,  530,  543, 1618,  542, 1140,
        537,   63,   62,   68, 1032,   69, 1033, 1583,   70,  608, 1035,
         71, 1581, 1039,   78, 1026, 1573, 1027, 1028, 1568, 1031, 1597,
        624, 1596,   80,   93, 1040,   92, 1589, 1043, 1588,  639, 1586,
         90, 1046, 1066,  578, 1056,  109,  587, 1543,  106,  588,  589,
        105, 1565,  118, 1087,  597, 1086, 1560, 1562, 1073,  125, 1077,
        606,  139, 1222, 1767,  140, 1219, 1218, 1769, 1231,  131,  674,
        673,  702, 1779, 1237,  154, 1238,  701,  156, 1232, 1234, 1235,
       1781, 1244,  692, 1785,  148,  149,  151, 1255, 1728,  169,  175,
        649, 1732, 1250, 1263,  647, 1738, 1258, 1257,  165, 1750,  188,
        666,  189,  176, 1276,  656,  183, 1758,  180, 1759,  181,  746,
        745,  207, 1154,  751, 1159, 1158,  748,  739,  196, 1709, 1163,
       1708, 1162, 1165, 1718, 1716, 1714, 1712, 1724, 1722, 1180,  210,
        239,  712, 1186, 1184,  235, 1665,  717, 1191, 1664, 1667,  233,
       1677,  705, 1676,  706,  708, 1196,  254, 1686,  733, 1207,  251,
        734,  721, 1214, 1689,  240, 1213, 1691,  275,  820, 1373, 1372,
        279,  817,  829,  280, 1362,  286,  824,  258, 1359, 1354, 1353,
       1351,  265,  304,  307, 1406,  309, 1400,  315, 1398,  314,  794,
       1395,  318,  774, 1389,  292,  769, 1387,  296, 1382,  298,  300,
       1376,  779,  301, 1307,  343, 1306,  341,  337,  351,  891, 1303,
        345, 1300,  327, 1294, 1282,  334, 1283,  333,  331,  877, 1338,
       1340,  371, 1816,  370, 1815,  381, 1328, 1813, 1330, 1804, 1322,
        353,  355,  365, 1314, 1796,  841,  846,  845, 1494,  408,  414,
       1488,  955, 1500,  407, 1496, 1497,  395, 1478,  393,  392,  937,
        398, 1473,  386, 1486,  391,  388,  440,  442,  443,  922,  446,
        447,  919, 1533, 1528,  913,  911, 1509, 1511,  428,  431,  904,
        903,  416, 1519, 1518,  900,  899,  421, 1514,  478, 1018, 1019,
       1009, 1432, 1012, 1002,  459, 1413,  455, 1416, 1423, 1457,  510,
        990,  504,  991, 1462,  497, 1470,  493,  492,  974, 1444,  963,
       1449, 1450,  960,  967,  481, 1455], dtype=int64)

Musimy filtrować train.csv po danym person_id, które będzie brane z task.csv

In [28]:
def filterDataFrame(column_to_filter, value_to_match, df):
    # Use boolean indexing to filter the DataFrame
    filtered_df = df[df[column_to_filter] == value_to_match]

    return filtered_df

In [31]:
temp = filterDataFrame("person_id", 1642, train_df)

Następnie szukamy filmów w movie.csv po movie_id

In [35]:
def getPersonMovies(filteredDataFrameForPerson):
    movies_list = filteredDataFrameForPerson["movie_id"].unique()
    return movies_list

In [60]:
listOfMoviesForSpecifiedUser = getPersonMovies(temp)

In [61]:
len(listOfMoviesForSpecifiedUser)

90

In [55]:
def findMovieTmdb_id(movie_id):
    one_row = movie_df[movie_df["id"] == movie_id]
    tmdb_id = one_row["tmdb_id"].values
    return tmdb_id[0]

In [56]:
findMovieTmdb_id(137)

13475